{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    "@semantic-release/npm",
    "@semantic-release/git"
  ],
  "branches": [
    "main",
    {
      "name": "develop",
      "channel": "beta",
      "prerelease": "beta"
    },
    {
      "name": "qa",
      "channel": "qa",
      "prerelease": "qa"
    },
    {
      "name": "uat",
      "channel": "uat",
      "prerelease": "uat"
    },
    {
      "name": "hotfix",
      "channel": "hotfix",
      "prerelease": "hotfix"
    }
  ],
  "tagFormat": "${version}"
}
